* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    top: 0;
}

#header-contents {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

#header-contents ul {
    list-style: none;
    display: flex;
}

#logo-name nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-name nav ul a {
    font-size: 24px;
}

#header-contents ul li a {
    text-decoration: none;
    font-family: "Langar", system-ui;
    font-weight: 400;
    font-style: normal;
}

#header-contents ul li a img {
    width: 61px;
}

#nav-names-links a {
    font-size: 15px;
}

#nav-names-links ul {
    gap: 10px;
}

.admin {
    background-color: rgb(255, 153, 0);
    padding: 6px 18px;
    color: white;
    border-radius: 8px;
    margin-left: 30px;
}

/*hero section styles*/
#hero {
    margin-top: 40px;
    height: auto;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

#hero-contents {
    display: flex;
    max-width: 1440px;
    height: 1024px;
    margin: 0 auto;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#hero-text h1 {
    font-size: 96px;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    /* Bring it to front */

}
.home{
    color: rgb(255, 153, 0);
}

#hero-text span {
    color: rgb(255, 153, 0);
}

#hero-image {
    position: relative;
    /* Add position to control z-index if needed */
    z-index: 1;
}

#hero-image img {
    width: 100%;
    /* To fill available space */
    height: 100%;
    object-fit: cover;
}
#hero-button1, #hero-button2{
padding: 6px 18px;
margin-top: 20px;
border: none;
width: 216px;
height: 59px;
border-radius: 8px;
font-size: 24px;
font-family: "Outfit", sans-serif;
font-style: semi-bold;
font-weight: 600;
}
#hero-button1{
    background-color: rgb(255, 153, 0);
    color: white;
}
#hero-button2{
    border: 3px solid rgb(255, 153, 0);
}
#my-tools{
    margin-top: 100px;
    font-family: "Outfit", sans-serif;
}
#tools ul{
    margin-top: 6px;
    display: flex;
    gap: 40px;
    list-style: none;
}