* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    top: 0;
}

#header-contents {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

#header-contents ul {
    list-style: none;
    display: flex;
}

#logo-name nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-name nav ul a {
    font-size: 24px;
}

#header-contents ul li a {
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 545;
    font-style: normal;
}

#header-contents ul li a img {
    width: 61px;
}

#nav-names-links a {
    font-size: 15px;
}

#nav-names-links ul {
    gap: 10px;
}

.admin {
    background-color: rgb(255, 153, 0);
    padding: 6px 18px;
    color: white;
    border-radius: 8px;
    margin-left: 30px;
}

/*hero section styles*/
#hero {
    margin-top: 40px;
    height: auto;
    overflow: hidden;
    background-color: rgb(238, 238, 238);
}

#hero-contents {
    display: flex;
    max-width: 1440px;
    height: 1024px;
    margin: 0 auto;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#hero-text h1 {
    font-size: 96px;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    /* Bring it to front */

}

.home {
    color: rgb(255, 153, 0);
}

#hero-text span {
    color: rgb(255, 153, 0);
}

#hero-image {
    position: relative;
    /* Add position to control z-index if needed */
    z-index: 1;
}

#hero-image img {
    width: 100%;
    /* To fill available space */
    height: 100%;
    object-fit: cover;
}

#hero-button1,
#hero-button2 {
    padding: 6px 18px;
    margin-top: 20px;
    border: none;
    width: 216px;
    height: 59px;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-style: semi-bold;
    font-weight: 600;
}

#hero-button1 {
    background-color: rgb(255, 153, 0);
    color: white;
}

#hero-button2 {
    border: 3px solid rgb(255, 153, 0);
}

#my-tools {
    margin-top: 100px;
    font-family: "Outfit", sans-serif;
}
#my-tools h2{
    font-weight: 700;
    color: rgb(255, 153, 0);
}

#tools ul {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
}
#tools ul li{
    background-color: rgb(5, 139, 0);
    padding: 20px;
    border: none;
    border-radius: 9px;
    transition: 0.5s;
}
#tools ul a{
    color: white;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}
#tools ul li:hover{
    background-color: rgb(3, 95, 0);
}

/*services section*/
#my-services-contents {
    max-width: 1440px;
    height: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    padding: 20px;
}
#services-cont{
    width: 50%;
}

#services-image {
    position: relative;
    /* Add position to control z-index if needed */
    z-index: 1;
    width: 50%;
}

#services-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services-text button {
    height: 59px;
    width: 216px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-style: semi-bold;
    font-weight: 600;
    padding: 6px 18px;
    margin-bottom: 20px;
}
#services-text h1{
    font-size: 64px;
    font-family: "Outfit", sans-serif;
    font-style: regular;
    font-weight: 700;
    margin-bottom: 20px;
}
#services-text p{
    margin-bottom: 20px;
}
#services-text span{
    color: rgb(255, 153, 0);
}
#services-boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#services-box1{
    width: 295px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: cenetr;
    border: 3px solid rgb(255, 153, 0);
    border-radius: 8px;
    overflow: hidden;
}
#services-box1 h1{
    margin: auto;
    font-size: 40px;
    font-family: "Outfit", sans-serif;
    font-weight: 750;
}
#services-box1 h1 span{
    color: rgb(255, 153, 0);
}

/*reach section*/
#reach{
    background-color: rgb(238, 238, 238);
}
#reach-container{
    max-width: 1440px;
    height: 1024px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    padding: 20px;
}
#reach-text{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#reach-image{
    position: relative;
    /* Add position to control z-index if needed */
    z-index: 1;
    width: 50%;
}
#reach-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#reach-text button {
    height: 59px;
    width: 216px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-style: semi-bold;
    font-weight: 600;
    padding: 6px 18px;
    margin-bottom: 20px;
}
#reach-text h1{
    font-size: 64px;
    font-family: "Outfit", sans-serif;
    font-style: regular;
    font-weight: 700;
    margin-bottom: 20px;
}
#reach-text h1 span{
    color: rgb(255, 153, 0);
    font-size: 128px;
}

/*testimonial section*/
#testimonial-container{
    max-width: 1440px;
    height: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    padding: 20px;
    font-family: "Outfit", sans-serif;
    font-style: semi-bold;
    font-weight: 600;
}
#testimonial-container h1{
    font-size: 64px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.name{
    margin-top: 60px;
    color: rgb(255, 153, 0);
}
#testimonial-container button{
    width: 216px;
    height: 59px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 153, 0);
    font-size: 24px;
    color: white;
}
#testimonial-boxes{
    width: 610px;
    height: 421px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 153, 0);
    border-radius: 33px;
    padding: 0 70px;
}

/*Contact section*/
#contacts{
    background-color: rgb(238, 238, 238);
}
#contacts-container{
    margin: auto;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 50px;
    padding: 40px 0;
    font-family: "Outfit", sans-serif;
}
.myname2{
    margin: 40px 0;
}
.myname-name{
    font-size: 32px;
    font-family: "Outfit", sans-serif;
    font-style: regular;
    font-weight: 700;
    margin-bottom: 20px;
}
.myname-name span{
    color: rgb(255, 153, 0);
    font-size: 32px;
}
/*footer section*/
footer{
    background-color: rgb(255, 153, 0);
}
#footer-container{
    max-width: 1440px;
    height: 49px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer-container p{
    color: white;
    font-family: "Outfit", sans-serif;
    font-style: regular;
}

